{% extends "base.html" %}
{% block title %}
  Сайт строительных товаров!
{% endblock %}
{% block content %}
  <div class="container">
    <h4 class="text-center text-muted">Популярные товары</h4>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for nom_card in page_obj %}
        <div class="col">
          <article class="mb-5">
            {% include "includes/nom_card.html" %}
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "includes/paginator.html" %}
{% endblock %}