{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile.username }}
{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div class="card justify-content-center" style="width: 26rem;">
      <div class="card-body">
        <h5 class="card-title">{{ profile.username }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{% if profile.get_full_name %}{{ profile.get_full_name }}{% else %}ФИО не указано{% endif %}</h6>
        <p class="card-text">
          Регистрация: {{ profile.date_joined }}<br>
          Роль: {% if profile.is_staff %}Админ{% else %}Пользователь{% endif %}
        </p>
        {% if user.is_authenticated and request.user == profile %}
        <small>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:edit_profile' %}">Редактировать профиль</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'password_change' %}">Изменить пароль</a>
        </small>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}