{% extends "base.html" %}
{% load static %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-header text-center">
        О проекте
      </div>
      <div class="card-body">
        <p>
          Компания КИТ-Метиз занимается 
          оптовой продажей крепежа. Розничной продажей сантехники, красок, 
          замков, сыпучих смесей, инструмента, электрики и хозяйственных товаров.
        </p>
        <hr>
        <center>
          <p>
            Мы являемся представителями фирмы KEW в Санкт-Петербурге:
          </p>
            <img src={% static "img/cert.jpg" %} class="img-fluid">
        </center>
      </div>
    </div>
  </div>
{% endblock %}