{% extends "base.html" %}
{% load static %}
{% block title %}
  Контактная информация
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-header text-center">
        Информация
      </div>
      <div class="card-body">
        <p><b>Раписание работы:</b>
          <ul>
            <li>ПН-ПТ с 10 до 18:00</li>
            <li>СБ с 11 до 17:00</li>
            <li>ВС с 11 до 16:00</li>
          </ul>
        </p>
        <p>
          <b>Адрес магазина:</b> Санкт-Петербург, ул. Марата дом 53,
          ТРК "Ямской", цокольный этаж, торговая секция №11
        </p>
        <p>
          <img src={% static "img/plan.jpg" %} class="img-fluid">
        </p>
      </div>
    </div>
  </div>
{% endblock %}