{% load static %}
<style>
  .nav-d {
    background-size: cover;
    height: 350px;
  }
</style>
<div class="container px-0">
  <footer>
    <nav class="navbar nav-d" style="background-image: url('{% static 'img/niz_k.png' %}')">
      <p class="m-0 position-absolute bottom-0 start-50 translate-middle-x text-black py-3">
        Этот сайт написан на <b>Python</b> и HTML (Bootstrap)<br>
        <a href="https://github.com/Demiat" style="color: inherit;">GitHub автора</a>
      </p>
    </nav>
  </footer>
</div>
