{% load static %}
<div class="card" style="width: 18rem;">
  {% if nom_card.image %}
  <img src="{{ nom_card.image.url }}" class="card-img-top" alt="{{ nom_card.name }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ nom_card.name }}</h5>
    <p class="card-text">{{ nom_card.text }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ nom_card.price }} руб. В наличии: {{ nom_card.quantity }}, {{ nom_card.unit_of_measure }}</li>
    <li class="list-group-item">Арт: {{ nom_card.article }}</li>
    <li class="list-group-item">{{ nom_card.category }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>