{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% bootstrap_css %}
    <style>
      .container {
        background-color: white;
      }
    </style>
  </head>
  <body style="background-color:#f2f2f2;">
    {% include "includes/header.html" %}
    <main>
      <div class="container">
        {% for category in categories %}
          <a href="?category={{ category.slug }}&{{ urlparams }}" class="btn btn-secondary">
            {{ category.name }}
          </a>
        {% endfor %}
      </div>
      
      <div class="container py-3">
        <form class="d-flex align-items-center" role="search" action="{% url 'welcome:index' %}" method="GET">
          <!-- Поле поиска номенклатуры -->
          <input name="find_nom" style="width: 40ch;" class="form-control me-2" type="search" placeholder="Поиск по номенклатуре" aria-label="Search">
          
          <!-- Селектор сортировки по цене -->
          <select name="sort_by_price" class="form-select form-select-sm me-2" aria-label="Цена">
            <option selected disabled>По цене</option>
            <option value="asc">Возрастание цены</option>
            <option value="desc">Убывание цены</option>
          </select>
          
          <!-- Селектор сортировки по рейтингу -->
          <select name="sort_by_rating" class="form-select form-select-sm me-2" aria-label="Рейтинг">
            <option selected disabled>По рейтингу</option>
            <option value="high_to_low">От высшего к низшему</option>
            <option value="low_to_high">От низкого к высокому</option>
          </select>
          
          <!-- Селектор сортировки по наименованию -->
          <select name="sort_by_name" class="form-select form-select-sm me-2" aria-label="Название">
            <option selected disabled>По наименованию</option>
            <option value="a-z">От А до Я</option>
            <option value="z-a">От Я до А</option>
          </select>
          
          <button class="btn btn-outline-success" type="submit">Применить</button>
        </form>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container py-3">
      {% block content %}{% endblock %}
    </div>
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>