{% load static %}
{% load cache %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}"> {% endcomment %}
    <title>
      {% block title %}{% endblock %}
    </title>
    {% bootstrap_css %}
    <style>
      .container {
        background-color: white;
      }
    </style>
  </head>
  <body style="background-color:#f2f2f2;">
    {% include "includes/header.html" %}
    <main>
      {% cache 2000 categories_cache %}
      <div class="container">
        {% for category in categories %}
          <a href="{% url 'welcome:index' category.slug %}" class="btn btn-secondary">
            {{ category.name }}
          </a>
        {% endfor %}
      {% endcache %}
      </div>
      <div class="container py-3">
        <form class="d-flex mt-3" role="search" action="{% url 'welcome:index' %}" method="GET">
          <input name="find_nom" style="width: 40ch;" class="form-control me-2" type="search" placeholder="Поиск по номенклатуре" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
      </div>
      <div class="container py-3">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>